

.btn-primary {
    border-color: #319966;
}

.btn-primary.active {
    background-color: #ccc;
    border-color: #319966;
}

.btn-primary:hover {
    background-color: #ccc;
    border-color: #eee;
}

.navbar-inverse .navbar-nav>.active>a {
    background-color: #ccc;
}

.navbar-inverse .navbar-collapse, .navbar-inverse {
    border-color: #319966;
}

td span.panel-cell {
    display: block;
}

table.panel-form td {
    padding: 5px;
}