body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

h1, h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    text-transform:uppercase;
}

h2, h3, h4 {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform:uppercase;
    font-weight: 400;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus,
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary
{
    background-color: #a5bfb2;
    border-color: #a5bfb2;
}

ul.nav a, a.navbar-brand {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform:uppercase;
    font-weight: 300;
}

label.dialog {
    padding-top: 10px;
    display: block;
    color: #888;
    font-size: 0.9em;
}

.panel-form {
    width: 100%;
}

.panel-form td {
    vertical-align: top;
    padding-top: 5px;
    width: 33.33%;
}

.panel-form label {
    margin-bottom: 0px;
    color: #666;
}
.panel-cell {
    display: block;
}

.datepicker {
    z-index: 1200;
}

.spinner {
    background-image: url('/static/images/ajax-loader.gif');
    background-repeat: no-repeat;
    width: 16px;
}

tr.selected td {
    background-color: #39b3d7 !important;
}

select.role-select {
    height: 200px;
}

.center {
    text-align: center;
}

table.rota {
}


.rota td, .rota th {
    text-overflow: ellipsis;
    white-space: nowrap;
}

.freeze {
    position:absolute;
    width:10em;
    left:0;
    top:auto;
    border-right: 1px solid #222222;
}

.first-column {

}

.table-wrapper {
    /*width: 90%;*/
    overflow-x:scroll;
    margin-left:10em;
    overflow-y: visible;
    padding-bottom:1px;
}
