.page {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.banner
{
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    background-color: rgb(59, 170, 227);
    padding: 10px 20px;
    color: white;
}

.header {
    float:right;
}

.heading {
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #666;
}

.grid {
    border-collapse: collapse;
    width: 100%;
}

.grid th, .grid td {
    padding: 5px;
}

.grid th {
    border: 1px solid #ccc;
    background-color: #ddd;
    font-size: 0.9em;
}

.grid td {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    font-size: 0.9em;
}

.grid a, div#accordion a {
    color: rgb(59, 170, 240);
    text-decoration: none;
}

.grid a:hover, div#accordion a:hover {
    text-decoration: underline;
}

.center {
    text-align: center;
    text-underline: none;
}

.subcell-label {
    color: #888;
    font-size: 0.85em;
    padding-top: 10px;
}

.subcell-data {
    font-size: 0.9em;
}

.row {
    display: table-row;
}

.cell-left, .cell-right {
    display: table-cell;
    width: 600px;
}

