

hr {
    border: 0;
    height: 1px;
    background: #ddd;
}

.cell-label {
    color: #888;
    font-weight: bold;
    padding: 0;
}

.subcell-label {
    color: #888;
    font-size: 0.95em;
    padding-top: 10px;
}

.subcell-data {
    /*font-size: 0.9em;*/
}

.row {
    display: table-row;
}

.cell-left, .cell-middle, .cell-right {
    display: table-cell;
    width: 500px;
}

label.dialog {
    padding-top: 10px;
    display: block;
    color: #888;
    font-size: 0.9em;
}