{% extends "base.html" %}
{% block body %}
<div id="message" class="alert alert-danger" hidden></div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Events
            <button class="btn btn-primary" title="New Event" onclick="showEventDialog(event)"><span class="glyphicon glyphicon-plus"></span></button>
            <form class="form-inline panel-title-form">
                {% if status == 'active' %}
                <button type="submit" name="status" value="active" class="btn btn-primary">Active</button>
                <button type="submit" name="status" value="inactive">Inactive</button>
                {% else %}
                <button type="submit" name="status" value="active">Active</button>
                <button type="submit" name="status" value="inactive" class="btn btn-primary">Inactive</button>
                {% endif %}
            </form>
        </h3>
    </div>
    <div id="events" class="panel panel-body">
    {% if rows %}
    <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
                <th></th><th>Name</th><th>Active</th><th>Roles</th><th>Created</th>
            </tr>
          </thead>
          <tbody>
        {% for r in rows %}
            <tr>
                <td><a href="#" onclick="showEventDialogEdit(event,'{{ r.id }}')">Edit</a></td>
                <td><a href="/admin/{{ r.id }}">{{ r.name }}</a></td>
                <td class="center">
                    {%if r.active %}
                    <span class="glyphicon glyphicon-ok"></span>
                    {% endif %}
                </td>
                <td>{{ r.roles|length }}</td>
                <td class="center">{{ r.created.strftime('%Y-%m-%d %H:%M:%S') }}</td>
            </tr>
        {% endfor %}
          </tbody>
        </table>
    </div>
    {% endif %}
    </div>
</div>

<!-- Create Event Dates -->
<div id="dialog-form" title="Create Event Dates" class="modal fade">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Event Administration</h4>
              <br />
              <div id="d-message"></div>
          </div>
          <div class="modal-body">
              <form id="d-create-event">
                  <fieldset>
                    <input type="hidden" name="event_id" id="d-event_id" class="form-control" />
                    <label for="d-name">Name</label>
                    <input type="text" name="name" id="d-name" class="form-control" />
                    <label for="d-active">Active</label>&nbsp;
                    <input type="checkbox" name="active" id="d-active" checked /><br />
                    <label for="d-frequency">Repeats</label>
                    <select id="d-frequency" name="frequency" class="form-control">
                      <option value="weekly">Weekly</option>
                      <option value="monthly">Monthly</option>
                      <option value="irregular">Never</option>
                    </select>
                    <label for="d-repeat_every">Repeats Every</label>
                    <input type="number" name="repeat_every" id="d-repeat_every" value="1" min=0 max=52 class="form-control" />
                    <label>Repeats On</label>&nbsp;
                    M<input type="checkbox" name="day_mon" id="d-day_mon" />
                    T<input type="checkbox" name="day_tue" id="d-day_tue" />
                    W<input type="checkbox" name="day_wed" id="d-day_wed" />
                    T<input type="checkbox" name="day_thu" id="d-day_thu" />
                    F<input type="checkbox" name="day_fri" id="d-day_fri" />
                    S<input type="checkbox" name="day_sat" id="d-day_sat" />
                    S<input type="checkbox" name="day_sun" id="d-day_sun" /><br />

                    <label for="d-parent_event">Parent Event (which holds the runsheet)</label>
                    <select id="d-parent_event" name="parent_event" class="form-control">
                      <option value="">-- This Event --</option>
                      {% for p in parent_events %}
                      <option value="{{p.id}}">{{p.name}}</option>
                      {% endfor %}
                    </select>
                  </fieldset>
              </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" onclick="eventCreate(event)">Save</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
      </div>
  </div>
</div>


<script>
    $( document ).ready(function() {
        // Set the current page
        $('ul.navbar-nav li').removeClass('active');
        $('#nav-admin').addClass('active');
    });
</script>

{% endblock %}

{% block jumbotron %}
<div class="jumbotron">
    <div class="container"><h2 class="heading">Administration</h2></div>
</div>
{% endblock %}
