{% extends "base.html" %}
{% block body %}

{% if row %}
<h2 class="heading">{{ row.name }}</h2>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Rota <button id="create-event-dates" class="btn btn-primary" data-toggle="modal" data-target="#dialog-form" title="New Event Dates"><span class="glyphicon glyphicon-plus"></span></button></h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
        <tr>
            <th></th>
            <th>Event Dates</th>
            {% for r in row.roles %}
            <th>{{ r.name }}</th>
            {% endfor %}
        </tr>

        {% for ed in row.event_dates %}
        <tr id="ed{{ ed.id }}">
            <td><a href="#edit" onclick="event_date_edit(event, {{ event_id }},{{ ed.id }})">Edit</a></td>
            <td>{{ ed.on_date }}</td>
            {% for rota in ed.people_for_roles() %}
            <td>
                {% if rota %}
                <a href="/person/{{ rota.person.id }}">{{ rota.person.name }}</a>
                {% endif %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
        </table> 
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Details</h3>
    </div>
    <div class="panel-body">
        <div class="cell-label">General</div>
        <div class="row">
            <div class="cell-left">
                <div class="subcell-label">Name:</div>
                <div class="subcell-data">{{ row.name }}</div>
            </div>
            <div class="cell-middle">
                <div class="subcell-label">Active:</div>
                <div class="subcell-data">
                    {%if row.active %}
                    <span class="ui-icon ui-icon-check"></span>
                    {% endif %}
                </div>
            </div>
            <div class="cell-right">
                <div class="subcell-label">Created:</div>
                <div class="subcell-data">{{ row.created.strftime('%Y-%m-%d %H:%M:%S') }}</div>
            </div>
        </div>
        <div><hr /></div>
        <div class="cell-label">Event Repetition</div>
        <div class="row">
            <div class="cell-left">
                <div class="subcell-label">Frequency:</div>
                <div class="subcell-data">{{ row.frequency }}</div>
            </div>
            <div class="cell-middle">
                <div class="subcell-label">Repeats Every:</div>
                <div class="subcell-data">{{ row.repeat_every }}</div>
            </div>
            <div class="cell-right">
                <div class="subcell-label">Repeats On:</div>
                <div class="subcell-data">
                    <table>
                        <tr>
                            <td>M</td>
                            <td>T</td>
                            <td>W</td>
                            <td>T</td>
                            <td>F</td>
                            <td>S</td>
                            <td>S</td>
                        </tr>
                        <tr>
                            <td>
                                {%if row.day_mon %}
                                <span class="ui-icon ui-icon-check"></span>
                                {% endif %}
                            </td>
                            <td>
                                {%if row.day_tue %}
                                <span class="ui-icon ui-icon-check"></span>
                                {% endif %}
                            </td>
                            <td>
                                {%if row.day_wed %}
                                <span class="ui-icon ui-icon-check"></span>
                                {% endif %}
                            </td>
                            <td>
                                {%if row.day_thu %}
                                <span class="ui-icon ui-icon-check"></span>
                                {% endif %}
                            </td>
                            <td>
                                {%if row.day_fri %}
                                <span class="ui-icon ui-icon-check"></span>
                                {% endif %}
                            </td>
                            <td>
                                {%if row.day_sat %}
                                <span class="ui-icon ui-icon-check"></span>
                                {% endif %}
                            </td>
                            <td>
                                {%if row.day_sun %}
                                <span class="ui-icon ui-icon-check"></span>
                                {% endif %}
                            </td>
                        </tr>
                    </table>

                </div>
            </div>            
        </div>
    </div>    
</div>

<!-- Create Event Dates -->
<div id="dialog-form" title="Create Event Dates" class="modal fade">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Create one or more event dates for '{{ row.name }}'.</h4>
              <br />
              <div id="d-message" class="ui-state-error ui-corner-all"></div>
          </div>
          <div class="modal-body">
              <form>
                  <fieldset>
                    <input type="hidden" name="event_id" id="d-event_id" value="{{ row.id }}" class="form-control" />
                    <label for="d-frequency">Repeats</label>
                    <select id="d-frequency" class="form-control">
                      <option value="weekly">Weekly</option>
                      <option value="irregular">Once</option>
                    </select>
                    <label for="d-repeats_every">Repeats Every</label>
                    <input type="number" name="repeats_every" id="d-repeats_every" value="{{ row.repeat_every }}" min=0 max=52 class="form-control" />
                    <label>Repeats On</label>&nbsp;
                    M<input type="checkbox" name="day_mon" id="d-day_mon" {% if row.day_mon %} checked {% endif %} />
                    T<input type="checkbox" name="day_tue" id="d-day_tue" {% if row.day_tue %} checked {% endif %} />
                    W<input type="checkbox" name="day_wed" id="d-day_wed" {% if row.day_wed %} checked {% endif %} />
                    T<input type="checkbox" name="day_thu" id="d-day_thu" {% if row.day_thu %} checked {% endif %} />
                    F<input type="checkbox" name="day_fri" id="d-day_fri" {% if row.day_fri %} checked {% endif %} />
                    S<input type="checkbox" name="day_sat" id="d-day_sat" {% if row.day_sat %} checked {% endif %} />
                    S<input type="checkbox" name="day_sun" id="d-day_sun" {% if row.day_sun %} checked {% endif %} />
                    <br />
                    <label for="d-from_date">From Date</label>
                    <input type="text" name="from_date" id="d-from_date" value="{{ row.last_date().strftime('%Y-%m-%d') }}" class="form-control" />
                    <label for="d-to_date">To Date</label>
                    <input type="text" name="to_date" id="d-to_date" value="{{ row.last_date() }}" class="form-control" />
                  </fieldset>
              </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="event_date_create({{ event_id }})">Save changes</button>
          </div>
      </div>
  </div>
</div>

{% endif %}

<script>
    $( document ).ready(function() {
    });
</script>

{% endblock %}

{% block jumbotron %}
<div class="jumbotron">
</div>
{% endblock %}
