{% extends "base.html" %}
{% block body %}

{% if row %}
<h2 class="heading">{{ row.name }}</h2>
<div id="d-message" class="alert alert-danger" hidden></div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Rota&nbsp;
            <button id="create-event-dates" class="btn btn-primary" data-toggle="modal" data-target="#dialog-form" title="New Event Dates"><span class="glyphicon glyphicon-plus"></span></button>
            <select id="event-dates-select" onchange="eventDates(event, {{ row.id }})">
                <option value="8">Upcoming</option>
                <option value="-12">Recent</option>
            </select>
        </h3>
    </div>
    <div id="event-dates" class="table-responsive">
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Details</h3>
    </div>
    <div class="panel-body">
        <table class="panel-form">
            <tbody>
            <tr>
                <td>
                    <label>Name</label><span class="panel-cell">{{ row.name }}</span>
                </td>
                <td>
                    <label>Active</label>
                        <span class="panel-cell">
                            {%if row.active %}
                            <span class="glyphicon glyphicon-ok"></span>
                            {% endif %}
                        </span>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Frequency</label><span class="panel-cell">{{ row.frequency.title() }}</span>
                </td>
                <td>
                    <label>Repeats Every</label><span class="panel-cell">{{ row.repeat_every }}</span>
                </td>
            </tr>
             <tr>
                <td>
                    <label>Created</label><span class="panel-cell">{{ row.created.strftime('%Y-%m-%d %H:%M:%S') }}</span>
                </td>
                <td>
                    <label>Repeats On</label>
                    <span class="panel-cell">
                        {%if row.day_mon %}<b>M</b>{% else %}M{% endif %}
                        {%if row.day_tue %}<b>T</b>{% else %}T{% endif %}
                        {%if row.day_wed %}<b>W</b>{% else %}W{% endif %}
                        {%if row.day_thu %}<b>T</b>{% else %}T{% endif %}
                        {%if row.day_fri %}<b>F</b>{% else %}F{% endif %}
                        {%if row.day_sat %}<b>S</b>{% else %}S{% endif %}
                        {%if row.day_sun %}<b>S</b>{% else %}S{% endif %}
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Create Event Dates -->
<div id="dialog-form" title="Create Event Dates" class="modal fade">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Create one or more event dates for '{{ row.name }}'.</h4>
              <br />
              <div id="d-message" class="ui-state-error ui-corner-all"></div>
          </div>
          <div class="modal-body">
              <form>
                  <fieldset>
                    <input type="hidden" name="event_id" id="d-event_id" value="{{ row.id }}" class="form-control" />
                    <label for="d-frequency">Repeats</label>
                    <select id="d-frequency" class="form-control">
                      <option value="weekly">Weekly</option>
                      <option value="irregular">Once</option>
                    </select>
                    <label for="d-repeats_every">Repeats Every</label>
                    <input type="number" name="repeats_every" id="d-repeats_every" value="{{ row.repeat_every }}" min=0 max=52 class="form-control" />
                    <label>Repeats On</label>&nbsp;
                    M<input type="checkbox" name="day_mon" id="d-day_mon" {% if row.day_mon %} checked {% endif %} />
                    T<input type="checkbox" name="day_tue" id="d-day_tue" {% if row.day_tue %} checked {% endif %} />
                    W<input type="checkbox" name="day_wed" id="d-day_wed" {% if row.day_wed %} checked {% endif %} />
                    T<input type="checkbox" name="day_thu" id="d-day_thu" {% if row.day_thu %} checked {% endif %} />
                    F<input type="checkbox" name="day_fri" id="d-day_fri" {% if row.day_fri %} checked {% endif %} />
                    S<input type="checkbox" name="day_sat" id="d-day_sat" {% if row.day_sat %} checked {% endif %} />
                    S<input type="checkbox" name="day_sun" id="d-day_sun" {% if row.day_sun %} checked {% endif %} />
                    <br />
                    <label for="d-from_date">From Date</label>
                    <input type="text" name="from_date" id="d-from_date" value="{{ row.last_date().strftime('%Y-%m-%d') }}" class="form-control" />
                    <label for="d-to_date">To Date</label>
                    <input type="text" name="to_date" id="d-to_date" value="{{ row.last_date() }}" class="form-control" />
                  </fieldset>
              </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="event_date_create({{ event_id }})">Save changes</button>
          </div>
      </div>
  </div>
</div>

{% endif %}

<script>
    $( document ).ready(function() {
        // Set the current page
        $('ul.navbar-nav li').removeClass('active');
        $('#nav-events').addClass('active');

        eventDates(event, {{ event_id }});

        // From-to datepickers
        var selectDateFrom = $('#d-from_date').datepicker({
            format: dateFormat
        }).on('changeDate', function(ev) {
            $(this).datepicker('hide');
        });
        var selectDateTo = $('#d-to_date').datepicker({
            format: dateFormat
        }).on('changeDate', function(ev) {
            $(this).datepicker('hide');
        });
    });
</script>

{% endblock %}

{% block jumbotron %}
<div class="jumbotron">
</div>
{% endblock %}
