{% extends "base.html" %}
{% block body %}

{% if row %}
<h2 class="heading">{{ row.name }}</h2>

<button id="create-event-dates" onclick="showDialog()">New Event Dates</button>

<div id="accordion">
    
    <h3>Rota</h3>
    <div>
        <table class="grid">
        <tr>
            <th>Event Dates</th>
            {% for r in row.roles %}
            <th>{{ r.name }}</th>
            {% endfor %}
        </tr>

        {% for ed in row.eventdates %}
        <tr>
            <td>{{ ed.on_date }}</td>
            {% for rota in ed.people_for_roles() %}
            <td>
                {% if rota %}
                <a href="/person/{{ rota.person.id }}">{{ rota.person.name }}</a>
                {% endif %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
        </table> 
    </div>
    
    <h3>Details</h3>
    <div>
        <div class="cell-label">General</div>
        <div class="row">
            <div class="cell-left">
                <div class="subcell-label">Name:</div>
                <div class="subcell-data">{{ row.name }}</div>
            </div>
            <div class="cell-middle">
                <div class="subcell-label">Active:</div>
                <div class="subcell-data">
                    {%if row.active %}
                    <span class="ui-icon ui-icon-check"></span>
                    {% endif %}
                </div>
            </div>
            <div class="cell-right">
                <div class="subcell-label">Created:</div>
                <div class="subcell-data">{{ row.created.strftime('%Y-%m-%d %H:%M:%S') }}</div>
            </div>
        </div>
        <div><hr /></div>
        <div class="cell-label">Event Repetition</div>
        <div class="row">
            <div class="cell-left">
                <div class="subcell-label">Frequency:</div>
                <div class="subcell-data">{{ row.frequency }}</div>
            </div>
            <div class="cell-middle">
                <div class="subcell-label">Repeats Every:</div>
                <div class="subcell-data">{{ row.repeat_every }}</div>
            </div>
            <div class="cell-right">
                <div class="subcell-label">Repeats On:</div>
                <div class="subcell-data">
                    <table>
                        <tr>
                            <td>M</td>
                            <td>T</td>
                            <td>W</td>
                            <td>T</td>
                            <td>F</td>
                            <td>S</td>
                            <td>S</td>
                        </tr>
                        <tr>
                            <td>
                                {%if row.day_mon %}
                                <span class="ui-icon ui-icon-check"></span>
                                {% endif %}
                            </td>
                            <td>
                                {%if row.day_tue %}
                                <span class="ui-icon ui-icon-check"></span>
                                {% endif %}
                            </td>
                            <td>
                                {%if row.day_wed %}
                                <span class="ui-icon ui-icon-check"></span>
                                {% endif %}
                            </td>
                            <td>
                                {%if row.day_thu %}
                                <span class="ui-icon ui-icon-check"></span>
                                {% endif %}
                            </td>
                            <td>
                                {%if row.day_fri %}
                                <span class="ui-icon ui-icon-check"></span>
                                {% endif %}
                            </td>
                            <td>
                                {%if row.day_sat %}
                                <span class="ui-icon ui-icon-check"></span>
                                {% endif %}
                            </td>
                            <td>
                                {%if row.day_sun %}
                                <span class="ui-icon ui-icon-check"></span>
                                {% endif %}
                            </td>
                        </tr>
                    </table>

                </div>
            </div>            
        </div>
    </div>    
</div>

<!-- Create Event Dates -->
<div id="dialog-form" title="Create Event Dates">
  <p class="validateTips">Create one or more event dates for '{{ row.name }}'.</p>

  <br />
  <div id="d-message" class="ui-state-error ui-corner-all"></div>
 
  <form>
      <fieldset>
        <input type="hidden" name="event_id" id="d-event_id" value="{{ row.id }}" />
        <label for="d-frequency" class="dialog">Repeats</label>
        <select id="d-frequency" class="dialog">
          <option value="weekly">Weekly</option>
          <option value="irregular">Once</option>
        </select>
        <label for="d-repeats_every" class="dialog">Repeats Every</label>
        <input type="number" name="repeats_every" id="d-repeats_every" value="{{ row.repeat_every }}" min=0 max=52 class="dialog ui-widget-content ui-corner-all" />
        <label class="dialog">Repeats On</label>
        M<input type="checkbox" name="day_mon" id="d-day_mon" {% if row.day_mon %} checked {% endif %} />
        T<input type="checkbox" name="day_tue" id="d-day_tue" {% if row.day_tue %} checked {% endif %} />
        W<input type="checkbox" name="day_wed" id="d-day_wed" {% if row.day_wed %} checked {% endif %} />
        T<input type="checkbox" name="day_thu" id="d-day_thu" {% if row.day_thu %} checked {% endif %} />
        F<input type="checkbox" name="day_fri" id="d-day_fri" {% if row.day_fri %} checked {% endif %} />
        S<input type="checkbox" name="day_sat" id="d-day_sat" {% if row.day_sat %} checked {% endif %} />
        S<input type="checkbox" name="day_sun" id="d-day_sun" {% if row.day_sun %} checked {% endif %} />
        <label for="d-from-date" class="dialog">From Date</label>
        <input type="text" name="from_date" id="d-from_date" value="{{ row.last_date().strftime('%Y-%m-%d') }}" class="dialog ui-widget-content ui-corner-all" />
        <label for="d-to-date" class="dialog">To Date</label>
        <input type="text" name="to_date" id="d-to_date" value="{{ row.last_date() }}" class="dialog ui-widget-content ui-corner-all" />
      </fieldset>
  </form>
</div>

<script>
    var message = $('#d-message');
    $('#dialog-form').dialog({
      autoOpen: false,
      height: 600,
      width: 400,
      modal: true,
      buttons: {
        "Create": function() {
            var eventid = $('#d-event_id').val();
        
            var postdata = {
                frequency: $('#d-frequency').val(),
                repeats_every: $('#d-repeats_every').val(),
                day_mon: $('#d-day_mon').is(':checked'),
                day_tue: $('#d-day_tue').is(':checked'),
                day_wed: $('#d-day_wed').is(':checked'),
                day_thu: $('#d-day_thu').is(':checked'),
                day_fri: $('#d-day_fri').is(':checked'),
                day_sat: $('#d-day_sat').is(':checked'),
                day_sun: $('#d-day_sun').is(':checked'),
                from_date: $('#d-from_date').val(),
                to_date: $('#d-to_date').val()
            };


            // Check that the username is valid
            var request = $.ajax({
              type: 'POST',
              url: '/rest/v1.0/events/' + eventid +'/date/create',
              data: JSON.stringify(postdata),
              contentType:"application/json",
              dataType: "json",
              success: function(data) {
                if (data.response) {
                    document.location.href = '/events/{{ event_id }}';
                } else {
                    if (response.message) {
                        message.text( response.message );
                    } else {
                        message.text('Error resetting the password. Please check the Username.');
                    }
                    message.fadeIn();
                }
              },
              error: function(e) {
                  message.text(e);
              }
            });  
            
            
        },
        Cancel: function() {
            $( this ).dialog( "close" );
        }
      },
      close: function() {
        //allFields.val( "" ).removeClass( "ui-state-error" );
      }
    });

</script>

{% endif %}

<script>
    $( document ).ready(function() {
        // Select the page in the radio button
        $( "#r-events" )[0].checked = true;
        $( "#radio" ).buttonset("refresh");
        $('#create-event-dates').button();
        $('#d-from_date').datepicker();
        $('#d-to_date').datepicker();
        $('#d-from_date').datepicker("option", "dateFormat", "yy-mm-dd");
        $('#d-to_date').datepicker("option", "dateFormat", "yy-mm-dd");
    });
</script>

{% endblock %}

