{% extends "base.html" %}
{% block body %}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">People&nbsp;
            <button class="btn btn-primary" title="New User" data-toggle="modal" data-target="#dialog-form"><span class="glyphicon glyphicon-plus"></span></button>
        </h3>
    </div>
    <div class="panel-body">
    {% if rows %}
    <table class="table table-striped">
      <thead>
        <tr>
            <th>Name</th><th>Active</th><th>Permissions</th><th>Last Login</th>
        </tr>
      </thead>
      <tbody>
    {% for r in rows.items %}
        <tr>
            <td><a href="/people/{{ r.id }}">{{ r.name }}</a></td>
            <td class="center">
                {%if r.active %}
                <span class="glyphicon glyphicon-ok"></span>
                {% endif %}
            </td>
            <td>{{ r.user_role }}</td>
            <td class="center">{{ r.last_login.strftime('%Y-%m-%d %H:%M:%S') if r.last_login else ':(' }}</td>
        </tr>
    {% endfor %}
      </tbody>
    </table>

    <ul class="pagination">
    {% for index in range(1, pages + 1) %}
        {% if page==index %}
            <li class="active"><a href="/people?page={{ index }}">{{ index }} <span class="sr-only">(current)</span></a></li>
        {% else %}
        <li><a href="/people?page={{ index }}">{{ index }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>

    {% endif %}
    </div>
</div>

<!-- Create User -->
<div id="dialog-form" title="Create User" class="modal fade">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Create a new user.</h4>
              <br />
              <div id="d-message" class="ui-state-error ui-corner-all"></div>
          </div>
          <div class="modal-body">
              <form>
                  <fieldset>
                      <label for="usrnewfirst">Firstname</label>
                      <input id="usrnewfirst" name="firstname" placeholder="firstname" type="text" class="form-control" />
                      <label for="usrnewlast">Lastname</label>
                      <input id="usrnewlast" name="lastname" placeholder="lastname" type="text" class="form-control" />
                      <label for="usrnewemail">Email</label>
                      <input id="usrnewemail" name="email" placeholder="email" type="email" class="form-control" />
                      <label for="usrnewrole">Permissions</label>
                      <select  id="usrnewrole" class="form-control" name="user_role">
                        <option value="admin">admin</option>
                        <option value="standard" selected>standard</option>
                      </select>
                  </fieldset>
              </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="personAdd(event)">Save</button>
          </div>
      </div>
  </div>
</div>

<script>
    $( document ).ready(function() {
        // Set the current page
        $('ul.navbar-nav li').removeClass('active');
        $('#nav-people').addClass('active');
    });
</script>

{% endblock %}

{% block jumbotron %}
<div class="jumbotron">
</div>
{% endblock %}
