{% extends "base.html" %}
{% block body %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Person Details</h3>
    </div>
    <div class="panel-body">
        <table class="panel-form">
        <tbody>
            <tr>
                <td>
                    <label>Firstname</label><span class="panel-cell">{{ row.firstname }}</span>
                </td>
                <td>
                    <label>Lastname</label><span class="panel-cell">{{ row.lastname }}</span>
                </td>
                <td>
                    <label>Email</label><span class="panel-cell">{{ row.email.strip() }}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <label>User Role</label><span class="panel-cell">{{ row.user_role }}</span>
                </td>
                <td></td>
                <td>
                    <label>Last Access</label><span class="panel-cell">{{ row.last_login }}</span>
                </td>
            </tr>
            <tr>
                 <td colspan="3">
                    <label>Roles</label>
                    <span class="panel-cell">
                    {% for r in row.person_roles %}
                    <span class="label label-default">{{ r.name }}</span>
                    {% endfor %}
                    </span>
                </td>
            </tr>
        </tbody>
        </table>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Rota&nbsp;
            <select id="person-rota-select" onchange="personRota(event, {{ row.id }}, null)">
                <option value="8">Upcoming</option>
                <option value="-12">Recent</option>
            </select>
        </h3>
    </div>
    <div class="panel-body" id="person-rota">
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Away Dates&nbsp;
            <button class="btn btn-primary" title="New Away Dates" onclick="showPersonAwayDialog(event, null, {{ row.id }})"><span class="glyphicon glyphicon-plus"></span></button>
            <select id="person-away-select" onchange="personAway(event, {{ row.id }}, null)">
                <option value="8">Upcoming</option>
                <option value="-12">Recent</option>
            </select>
        </h3>
    </div>
    <div class="panel-body" id="person-away">
    </div>
</div>

<!-- Create Away Dates -->
<div id="dialog-form" title="Add Away Dates" class="modal fade">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Create away dates for '{{ row.name }}'.</h4>
              <br />
              <div id="d-message"></div>
          </div>
          <div class="modal-body">
              <form id="person-away-form">
                  <fieldset>
                    <input type="hidden" name="person_id" id="d-person_id" value="{{ row.id }}" class="form-control" />
                    <input type="hidden" name="away_id" id="d-away_id" class="form-control" />
                    <label for="d-from_date">From Date</label>
                    <input type="text" name="from_date" id="d-from_date" class="form-control" />
                    <label for="d-to_date">To Date</label>
                    <input type="text" name="to_date" id="d-to_date" class="form-control" />
                  </fieldset>
              </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="personAwayDate({{ row.id }})">Save changes</button>
          </div>
      </div>
  </div>
</div>



<script>
    $( document ).ready(function() {
        // Set the current page
        $('ul.navbar-nav li').removeClass('active');
        $('#nav-people').addClass('active');

        personRota(event, {{ row.id }}, null);
        personAway(event, {{ row.id }}, null);

        // From-to datepickers
        var selectDateFrom = $('#d-from_date').datepicker({
            format: dateFormat
        }).on('changeDate', function(ev) {
            $(this).datepicker('hide');
        });
        var selectDateTo = $('#d-to_date').datepicker({
            format: dateFormat
        }).on('changeDate', function(ev) {
            $(this).datepicker('hide');
        });
    });
</script>

{% endblock  %}

{% block jumbotron %}
<div class="jumbotron">
    <div class="container">
        <h2 class="sub-heading">{{ row.name }}</h2>
    </div>
</div>
{% endblock %}
