<nav class="navbar navbar-inverse" >
  <div class="container">
    <div class="navbar-header">
      <a href="/rota/me" class="navbar-brand">Team Rota</a>
        <button type="button" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span></button>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li role="presentation" class="active">
          <a href="/rota/me">My Rota</a>
        </li>
        <li role="presentation" class="">
          <a href="/rota/people">People</a>
        </li>
        <li role="presentation" class="">
          <a href="/rota/events">Events</a>
        </li>
        <li role="presentation" class="">
          <a href="/rota/runsheets">Run Sheets</a>
        </li>
        <li role="presentation" class="">
          <a href="/rota/setlists">Set Lists</a>
        </li>
        <li role="presentation" class="">
          <a href="/rota/songs">Songs</a>
        </li>
        <li role="presentation" class=""><a href="/admin">Admin</a></li>
        <li role="presentation" class=""><a href="https://accounts.google.com">James Jesudason</a></li>
      </ul>
    </div>
  </div>
</nav>
