<!DOCTYPE html>
<html>
<head>
    <title>Team Rota</title>

    <link rel="apple-touch-icon" sizes="57x57" href="/static/images/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/images/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/images/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/images/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/images/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/images/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/images/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/images/favicons/apple-touch-icon-152x152.png">
    <meta name="apple-mobile-web-app-title" content="Life Church Rota">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="icon" type="image/png" href="/static/images/favicons/favicon-196x196.png" sizes="196x196">
    <link rel="icon" type="image/png" href="/static/images/favicons/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="/static/images/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/static/images/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/static/images/favicons/favicon-32x32.png" sizes="32x32">
    <meta name="msapplication-TileColor" content="#2f9966">
    <meta name="msapplication-TileImage" content="/static/images/favicons/mstile-144x144.png">
    <meta name="application-name" content="Life Church Rota">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300' rel='stylesheet' type='text/css'>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/datepicker.css" rel="stylesheet">
    <link href="/static/css/app.css" rel="stylesheet">
</head>
<body>

    <div id="main" class="container-fluid" role="main">
      {% include 'snippet_navigation.html' %}
      <em>View-only for vintage browsers</em>
        <br>
        {% if error %}
            <br>
            <div class="alert alert-danger">{{error}}</div>
        {% else %}

        <h2 class="sub-heading">{{model.event_name}}</h2>

        {% if model.role_names %}

        <div class="col-lg-12">
            <div class="table-wrapper">
                <table class="table table-striped rota">
                  <thead>
                    <tr>
                        <th class="freeze">Date</th><th class="first-column">Focus</th><th>Run Sheet</th><th>Notes</th>
                        {% for role in model.role_names%}<th>{{role}}</th>{% endfor %}
                        <th></th>
                    </tr>
                  </thead>
                  <tbody>
                {% for ed in model.event_dates %}
                  <tr>
                    <td class="freeze">
                        {{ ed.on_date }}
                    </td>
                    <td><em>{{ed.focus or ''}}</em></td>
                    <td><a href="/vintage/runsheets/{{model.event_id}}/{{ed.on_date_ymd}}">Run Sheet</a></td>
                    <td><em>{{ed.notes or ''}}</em></td>
                    {% for r in ed.rota %}
                    <td>
                        {% if r.is_away %}
                                <span class="alert-danger" title="Person is away, swap needed.">{{r.person_name}}</span>
                        {% else %}
                            {% if r.on_rota %}
                                <span class="alert-warning" title="Person is on another rota.">{{r.person_name}}</span>
                            {% else %}
                                {% if r.active %}
                                    {{r.person_name}}
                                {% else %}
                                    <span class="alert-warning" title="Person is deactivated, swap needed.">{{r.person_name}}</span>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </td>
                    {% endfor %}

                    <td>&nbsp;</td>

                  </tr>
                {% endfor %}
                  </tbody>
               </table>
            </div>
        </div>
        {% else %}
        <p>No roles defined for this rota.</p>
        {% endif %}

        {% endif %}
    </div>

</body>
</html>
