
<div class="modal fade" id="peopleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Available People for Role</h4>
      </div>
      <div class="modal-body">
          <p>The following people may be available to swap:</p>
          <ul>
          {{#each p in availablePeople}}
            <li>{{p.name}} ({{p.email}})</li>
          {{/each}}
          </ul>
      </div>
      <div class="modal-footer">
          <button data-dismiss="modal" class="btn btn-danger">Close</button>
      </div>
    </div>
  </div>
</div>
