<h2 class="sub-heading">Events</h2>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Events</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
          <thead>
            <tr>
                <th>Name</th><th></th><th>Active</th><th>Created</th>
            </tr>
          </thead>
          <tbody>
        {{#each event in model}}
          <tr>
            <td>{{#link-to 'event' event}}{{event.name}}{{/link-to}}</td>
            <td>{{#link-to 'event_overview' event}}Overview{{/link-to}}</td>
            <td class="center">
                {{#if event.active}}
                <span class="glyphicon glyphicon-ok"></span>
                {{/if}}
            </td>
            <td>{{dateFromNow event.created}}</td>
          </tr>
        {{/each}}
          </tbody>
       </table>
    </div>
</div>
