<h2 class="sub-heading">People</h2>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">People&nbsp;
            {{#link-to 'person_create' class="btn btn-primary" title="New User"}}<span class="glyphicon glyphicon-plus"></span>{{/link-to}}
            <!--button class="btn btn-primary" title="New User" {{action newPerson}}><span class="glyphicon glyphicon-plus"></span></button-->
        </h3>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                    <th></th><th>Name</th><th>Active</th><th>Permissions</th><th>Last Login</th>
                </tr>
              </thead>
              <tbody>
            {{#each person in model}}
              <tr>
                <td>{{#link-to 'person_edit' person class="btn btn-default"}}Edit{{/link-to}}</td>
                <td>{{#link-to 'person' person}}{{person.name}}{{/link-to}}</td>
                <td class="center">
                    {{#if person.active}}
                    <span class="glyphicon glyphicon-ok"></span>
                    {{/if}}
                </td>
                <td>{{person.user_role}}</td>
                <td>{{dateFromNow person.last_login}}</td>
              </tr>
            {{/each}}
              </tbody>
           </table>
       </div>
    </div>
</div>
